
@font-face {
    font-family: 'Little Kids Handwriting';
    src: url('LittleKidsHandwriting-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Little Kids Handwriting', cursive;
    font-size: 65px;
}

button {
    background-color: #000; /* Black background color */
    margin-top: 20px; 
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

button {
    position: relative; /* Ensure the buttons are positioned relative to their parent */
    z-index: 1; /* Set a higher z-index to bring the buttons to the front */
}

img {
    z-index: 1; /* Set a higher z-index to bring the buttons to the front */
}

button:hover {
    transform: scale(1.05); /* Enlarge button on hover */
}
